include parts/head.pug
include parts/navbar.pug

section#hero
  #heroCarousel.carousel.slide.carousel-fade(data-bs-interval='5000' data-bs-ride='carousel')
    ol#hero-carousel-indicators.carousel-indicators
    .carousel-inner(role='listbox')
      // Slide 1
      .carousel-item.active(style='background-image: url(assets/img/slide/slide-1.jpg)')
        .carousel-container
          .container
            h2.animate__animated.animate__fadeInDown იდეა იმარჯვებს
            p.animate__animated.animate__fadeInUp
              | კომუნისტები დამოუკიდებლობის იდეამ დაამარცხა, შევარდნაძე არა კორუფციის იდეამ, სააკაშვილი არა ძალადობას იდეამ, დღეს ოპოზიციას არ გააჩნია ასეთი იდეა, რომ ხელისუფლება დაამარცხოს
            a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(target='_blank' href='https://fb.watch/79nIC8jTYV/') ვრცლად
      // Slide 2
      .carousel-item(style='background-image: url(assets/img/slide/slide-2.jpg)')
        .carousel-container
          .container
            h2.animate__animated.animate__fadeInDown ცხრა წლიანი თამაში
            p.animate__animated.animate__fadeInUp
              | მუდმივად ერთმანეთის დამხმარე რგოლის ფუნქციას ასრულებდა ქართული ოცნება და ნაციონალური მოძრაობა
            a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(href='#about') ვრცლად
      // Slide 3
      .carousel-item(style='background-image: url(assets/img/slide/slide-3.jpg.jpg)')
        .carousel-container
          .container
            h2.animate__animated.animate__fadeInDown დისკომფორტი ქოცებს
            p.animate__animated.animate__fadeInUp
              | ჩვენ ხომ პარლამენტში მხოლოდ შარლ მიშელის დოკუმენტის გამო არ ვართ, ზოგადად ნორმალურ საზოგადოებაში პარლამენტი ხომ უნდა ფუნქციონირებდეს, ამიტომ ჩვენ უნდა გამოვიყენოთ ის რესურსი რაც გვაქვს
            a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(href='#about') ვრცლად
    a.carousel-control-prev(href='#heroCarousel' role='button' data-bs-slide='prev')
      span.carousel-control-prev-icon.bi.bi-chevron-left(aria-hidden='true')
    a.carousel-control-next(href='#heroCarousel' role='button' data-bs-slide='next')
      span.carousel-control-next-icon.bi.bi-chevron-right(aria-hidden='true')
// End Hero
.main
  a(href="http://127.0.0.1:3000/add_news") 
    button.btn.btn-success სიახლის დამატება
  h3#main სიახლეები
  .container.news_container
    each obj in params
      a.main-card(href='#')
        .card.mb-5.flex-column
            button.btn.btn-success#important-button(type="button" value=`${obj.id}`) მნიშვნელოვანი
            img.card-img-top(src=obj.imgUrl alt='Card image cap')
            .card-body
              h5.card-title=obj.title
              p.card-text=obj.article
              p.card-text
                small.text-muted=obj.articleDate


    each subObject in params.on_ge
      a.main-card(href='#')
        .card.mb-5.flex-column
            button.btn.btn-success#important-button(type="button") მნიშვნელოვანი
            img.card-img-top(src=subObject.imgUrl alt='Card image cap')
            .card-body
              h5.card-title=subObject.title
              p.card-text=subObject.article
              p.card-text
                small.text-muted=subObject.articleDate
    

// ======= Footer =======
include parts/footer.pug
// End footer 

include parts/scripts.pug

