include parts/head.pug

script(src="http://cdn.socket.io/socket.io-3.0.1.min.js")

include parts/navbar.pug

script.  
  document.querySelector("#general").className = "nav-link scrollto active";


.left-fixed-container
  each subObject in importantNews
    .very-important.very-important--card-head(value=subObject.source)
      .very-important--card
        .left-inside--section
          a.card-body(href=subObject.link target='_blank')
            img.image-veryImportant(src=subObject.imgUrl alt='Card image cap')
          h5=subObject.title
          p.card-text-important
            small.text-muted.text-date--important=subObject.articleDate
            img.small-img--important(src=subObject.logo alt="Source's logo")


include parts/right-fixed-container.pug
.show-menu-side.display-none
  i.fas.fa-window-close
  h4.right-fixed-container-p აირჩიე წყარო
  ul.right-fixed-container-ul
    li(onclick='filterPosts("Formula")').fixed-container-list-item.formula-item
      img(src="https://upload.wikimedia.org/wikipedia/commons/7/7b/TV_Formula_-_Official_Logo.png" alt="")
      h3 ფორმულა
    li(onclick='filterPosts("Imedi")').fixed-container-list-item
      img(src="https://www.imedi.ge/m/i/logo-fb.png" alt="")
      h3 იმედი ნიუსი
    li(onclick='filterPosts("IPN")').fixed-container-list-item 
      img(src="https://www.interpressnews.ge/static/img/logofixed.svg" alt="")
      h3 ინტერპრეს ნიუსი
    li(onclick='filterPosts("On")').fixed-container-list-item 
      img(src="http://gip.ge/wp-content/uploads/2017/10/apple-touch-icon.png" alt="")
      h3 On.ge
    li(onclick='filterPosts("Mtavari")').fixed-container-list-item 
      img(src="https://www.televizia.org/img/tv_mtavariarxi.png" alt="")
      h3 მთავარი არხი
    li(onclick='filterPosts("Palitra")').fixed-container-list-item 
      img(src="https://www.tdi.ge/sites/default/files/tv_palitra_1.jpg" alt="")
      h3 პალიტრა
    li(onclick='filterPosts("Tabula")').fixed-container-list-item 
      img(src="https://upload.wikimedia.org/wikipedia/ka/c/c0/Tabula_logo.png" alt="")
      h3 ტაბულა

.big-main
  .big-container
    .big-inside-main
      .most-important--card
        a.card-body(href=mostImportantNews.link target='_blank')
          img(src=mostImportantNews.imgUrl alt='Card image cap')
          h5=mostImportantNews.title
        p.card-text-important
          small.text-muted.text-date--important=mostImportantNews.articleDate
          img.small-img--important(src=mostImportantNews.logo alt="Source's logo")
      .important-section
        h3#main.container მნიშვნელოვანი სიახლეები
        hr.hrelement.container
        .important-container
          each subObject in importantNews
            .news-card
              .news-card--left
                img.image-important(src=subObject.imgUrl alt='Card image cap')
                .down
                  small=subObject.articleDate
                  img.news-important--smallimg(src=subObject.logo alt="Source's logo")
              .news-card--right
                a.card-body(href=subObject.link target='_blank')
                  h5.card-title--important-p=subObject.title
                  p.card-text=subObject.text
          a.important-btn(href='/important_news') ყველა მნიშვნელოვანი სიახლე
          


      h3#main-h3.container სხვა სიახლეები            
      hr.hrelement.container
      .main.page#list    
        .container.news_container.archive
          each subObject in object
            .main-card.card-data#othernews(value=subObject itemprop=subObject.source)
              a.card-body(href=subObject.link target='_blank')
                h5.card-title=subObject.title
                img.image.card-img-top(src=subObject.imgUrl alt='Card image cap')
                p(name='title').card-text=subObject.text
                p.card-text
                  small.text-muted=subObject.articleDate
              .img_font
                img.small-img(src=subObject.logo alt='Card image cap')
                if (subObject.important===false)
                  abb(title="მნიშვნელოვანად მონიშვნა")  
                    button.fas.fa-star.btn-click( name="obj" value=subObject)
                else 
                  abb(title="მნიშვნელოვანი სიახლე")  
                    i.fas.fa-check.succes



// ======= Footer =======
include parts/footer.pug
// End footer 

include parts/scripts.pug
script(src="http://cdn.socket.io/socket.io-3.0.1.min.js")
script(src="../assets/components/browserSide/favorite.js") 
script(src="../assets/components/browserSide/shortenArticle.js") 
script(src="../assets/components/browserSide/filterPosts.js")
script(src="../assets/components/browserSide/hamburgerMenu.js")
script(type="module" src="../assets/components/browserSide/favorite.js")
